body {
    font-family: Arial;
    margin: 20px;
    background: #fafafa;
}

.card, .rank-card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #ddd;
}

img {
    width: 100%;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}
